<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block header %}<center>Немного об авторе проекта</center>{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
    <div class="row">
      <!-- Левый вспомогательный блок -->
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">
                  Об авторе
                </div>
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">
                  <p>Пара слов обо мне, то есть авторе этого сайта, к чему я стремлюсь и кто мне помогает.</p>
                  <p>Мой профиль на GitHub:
                    <a class="navbar-brand" href="https://github.com/Danielseddian">Danielseddian.</a></p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Тело страницы -->
      <div class="col-md-9">
        <div class="card-body">
          <div class="card-text">
            <p>Это мой первый проект, созданный под чутким руководством наставников и учебников Яндекс.Практикума.</p>
            <p>Хочется больше проектов, пробовать свои силы в разных направлениях, ну, и, конечно, создавать свои проекты.</p>
            <p>
              Программирование - это не просто надпись: "Hello World", это огромные возможности, впечатляющий опыт и,
              конечно же, невероятный кайф, когда набор строчек и букв, наконец, начинает работать, и на экране появляется то, что
              ты задумал.
            </p>
            <p>
              К сожалению, у меня пока нет кошки или собаки, хотя мы, непременно, их заведём. А сейчас меня поддерживают любимая жена
              и дети. Они верят, что у меня всё получится и я научусь всем тонкостям этой непростой, но очень интересной профессии.
            </p>
            <p>
              Кстати, у нас есть улитка и рыбка. Конечно, они не могут подойти и тыкнуть своим носиком, мол: "Отвлекись, хозяин,
              погладь нас, а потом у тебя всё обязательно получится.". Но они чутко следят из своих домиков, а улитка, её зовут
              Луиза, даже несколько раз порывалась сбежать ко мне. Наверное, увидела ошибку и хотела её исправить. Ну, или съесть,
               как она съела школьное расписание у дочери. &#x1F605
            </p>
          </div>
        </div>
      </div>
        <center>{% load static %} <img src='{% static "snail.jpg" %}'/></center>
    </div>
  </main>
{% endblock %}