{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block header %}<center>Несколько слов про средства создания проекта
  </center>{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
    <div class="row">
      <!-- Левый вспомогательный блок -->
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">
                  Технологии
                </div>
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">
                  <p>Пара слов о программных (и не только) средствах, которые мне помогают в создании проекта.</p>
                  <p>Мой профиль на GitHub:
                    <a class="navbar-brand" href="https://github.com/Danielseddian">Danielseddian</a></p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Тело страницы -->
      <div class="col-md-9">
        <div class="card-body">
          <div class="card-text"><p>
              Чтобы написать хорошую книгу, недостаточно пера и бумаги. Нужны: воображение, вдохновление, мастерство и
              закомство с произведениями других авторов. И этого, конечно, недостаточно.
            </p>
            <p>
              Конечно, у меня не книга, да, и для хорошего проекта мне ещё очень и очень многое необходимо сделать,
              но начало положено - а это главное. И ещё важно не отступать, не отчаиваться. Бывает сложно, но со
              временем удаётся во всём разобраться.
            </p>
            <p>
              И в программировании не обойтись парой профильных книг. Здесь важны: программы, библиотеки, хороший
              учитель и источник безграничных знаний - интернет. Без всего этого тоже можно написать какое-то приложение
               или сайт, но сил и времени это займёт значительно больше, а качество будет хуже.
            </p>
            <p>
              Может, показаться, что достаточно установить язык программирования (хотя это будет очень грубо и неточно
              сказано), чтобы написать своё первое приложение, но, лично, моё обучение программированию началось не с
              этого:
            </p>
            <p>
              - Во-первых, браузер. Он не только даёт мне доступ в интернет, с него начинается Яндекс.Практикум и моё
              знакомство с азами программирования.
            </p>
            <p>
              - Во-вторых, clipdiary - с ним я копирую основные комманды, функции, части кода, которые могут мне
              пригодиться и которые сложно так сразу запомнить.
            </p>
            <p>
              - В-третьих, IDE. Он не только структурирует работу с файлами кода, но и объединяет множество необходимых
              инструментов, без которых не обойтись. Сначла это был VSCode. Я в принципе люблю Microsoft и их продукты,
              но с этим IDE почему-то не сложилось. Хотя я его и не удаляю, но сейчас активно использую PyCharm.
            </p>
            <p>
              - В-четвёртых, GitHub. Не так часто я к нему обращаюсь, но, безусловно, это очень классная и нужная
              программа, чтобы твой проект всегда оставался в целости и сохранности. А ещё для совместной работы и
              возможности поделиться своими проектами.
            </p>
            <p>
              Есть много других встаиваемых или внешних инструментов, но главное, наверное - это хороший курс и цель.
              Когда есть цель, тебе есть куда стремиться, а когда есть куда стремиться, то не свернуть и не сойти с
              намеченного пути уже гораздо проще.
            </p>
            <p>
              Бывает сложно. Не во всём удаётся сразу разобраться. Что-то забывается совсем скоро - быстрее, чем мне бы
              хотелось. Но я понимаю, что всё это временное - опыт и желание со временем компенсирую все мои неловкие
              попытки стать специалистам, а затем и профессионалом в программировании. &#x1F4AA
            </p>
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}